@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-50">IRIS Salon</h1>
    <p> <a>Good hair, good vibes</a></p>
@*    <img class="wp-image-3065 avia-img-lazy-loading-not-3065" src="https://petershamhairco.com.au/wp-content/uploads/2022/08/hair-salon-petersham-1-1500x630.jpg" width="1500" height="630" title="hair salon petersham 1" alt="" itemprop="thumbnailUrl" style="min-height: 350px; min-width: 834px; left: 0px; ">
*@
    <img src="http://printmeposter.com/blog/wp-content/uploads/2016/10/A-Hair-Salon-Poster.jpg">

</div>
